.venv/
__pycache__/
*.pyc
.pytest_cache/
data/*.db
data/*.db-wal
data/*.db-shm
data/respaldos/
logs/
exportaciones/
config.ini
*.csv
!spec/catalogos/*.csv
!data/muestras/*.csv
build/
dist/
Thumbs.db
.DS_Store
*.spec
dist_onefile/
build_onefile/
